.container{
  width: 100%;
  height: 100%;
}
.spinner{
  position: relative;
  width: inherit;
  height: inherit;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(60, 60, 60, 0.5);
}
.content{
  position: relative;
  width: inherit;
  height: inherit;
}
.content-behind{
  margin-top: -100%;
}
