@import 'styles/init';

.ordering-control {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  user-select: none;

  &:hover {
    cursor: pointer;
  }

  /* the sorting icon (up and down arrows) */
  & svg {
    margin-left: 0.3rem;
    width: 1rem;
    height: 1rem;
    fill: var(--mid-grey);

    &.active-control {
      fill: var(--black);
    }
  }
}
