ul.filter-bar {
  display: flex;
  padding: 10px 5px;

  & li {
    text-transform: uppercase;
    padding: 10px 5px;

    & button {
      border: none;
      outline: none;
      background: transparent;
      cursor: pointer;
      text-transform: uppercase;
      border-bottom: 1px dotted #ddd;
    }
  }
}
