@import 'styles/init';

:root {
  --padding: 0.625rem;
}

.main {
  /* left action is expanded, text is shown */
  &.slideRightLong {
    transform: translate3d(14.4375rem, 0, 0) !important;
  }

  /* right action is expanded, text is shown */
  &.slideLeftLong {
    transform: translate3d(-13.375rem, 0, 0) !important;
  }
}

/* Padded icon container makes icon clicks a little easier */
.icon {
  padding: var(--padding);

  & .rocket {
    fill: var(--green);
    transition: fill .2s;
  }

  &:hover .rocket {
    fill: var(--dark-grey);
  }

  & .trash {
    fill: var(--green);
    transition: fill .2s;
  }

  &:hover .trash {
    fill: var(--red);
  }
}

.picture {
	height: 40px;
	width: 40px;
	margin-left: 21px;
}
